{% load staticfiles %}
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

<!-- masonry -->
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>

<script type="text/javascript">
$('div.masonry').imagesLoaded( function() {
  $('div.masonry').masonry({
      columnWidth:1,
      itemSelector:'.grid-item',
  });
});
</script>

<!-- jquery expander -->
<script src="{% static "js/jquery.expander.min.js" %}"></script>
<script type="text/javascript">
$('div.show_more').expander({
    slicePoint:0,
    expandPrefix: '',
    expandText: 'Show details',
    userCollapseText: '[^]',
});
</script>

<script>
$(function(){

    var options = {
map: ".map_canvas"
};

$("#id_address").geocomplete(options);

$("#submit").click(function(){
  $("#id_address").trigger("geocode");
  });

});
</script>
