    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="http://i.imgur.com/fP0XCZv.png?2" height="100%"></img>
            <!--ossi-->
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li ><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'faq' %}">FAQs</a></li>
            <li><a href="{% url 'seeds' %}">Seeds</a></li>
            <li><a href="{% url 'breeders' %}">Plant Breeders</a></li>
            <li><a href="{% url 'partners' %}">Seed Company Partners</a></li>
            <li><a href="{% url 'resources' %}">Resources</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'becomecontributor' %}">Contribute a variety</a></li>
              <li><a href="{% url 'becomepartner' %}">Sell OSSI seed</a></li>
              <li><a href="{% url 'becomemember' %}">Become a member</a></li>
            </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
