---
title: Open Source Seed Initiative: About
layout: post
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head_meta.html %}
<title>{{ page.title }}</title>
{% include head_js_css.html %}
</head>

<body>
{% include navbar.html %}

<div class="container">

  <h1>About</h1>

  <h2>Mission:</h2>
  <p>The Open Source Seed Initiative (OSSI) is dedicated to maintaining fair and open access to plant genetic resources worldwide.</p>

  <h2>Vision:</h2>
  <p>The Open Source Seed Initiative (OSSI) seeks to enhance the broadest possible awareness and understanding of the critical issue of access to plant genetic resources. OSSI is engaged in education and outreach that promotes sharing rather than restricting access to germplasm, revitalizing public plant breeding, integrating the skills and capacities of farmers with those of plant scientists, recognizing the work of plant breeders of all kinds, and supporting a diversified and decentralized seed industry. A key tool for achieving these goals is development of a pledge to preserve the unencumbered exchange of plant germplasm for breeding purposes and the right of farmers to save and replant seed. OSSI is committed to building a branded, ethical framework that farmers, breeders, and communities may freely choose to employ in order to ensure the availability of their lines to this and future generations.</p>


  <h2>About OSSI:</h2>
  <p>The Open Source Seed Initiative (OSSI) was established in May, 2012, by a group of public plant breeders, private plant breeders, farmers, and advocates for a sustainable food system. </p>
  <p>Today, only a handful of companies account for most of the world’s commercial breeding and seed sales. Increasingly, various forms of intellectual property rights are used to enhance the power and control of these companies over the seeds and the farmers that feed the world.</p>
  <p>Protected seeds cannot be saved, replanted, or shared by farmers and gardeners. And because there is no research exemption for patented material, plant breeders at universities and small seed companies cannot use patented seed to create the new crop varieties that should be the foundation of a just and sustainable agriculture.</p>
  <p>What is at stake is access to the plant genetic material that will be needed to breed crop varieties capable of feeding a growing population in an increasingly variable environment. We need to increase, not narrow, the availability of genetic resources and technical options. We need innovative plant breeding that produces resilient and productive cultivars adapted to thousands of specific places in a rapidly changing biosphere. We need to revitalize public plant breeding. We need to integrate the skills and capacities of farmers with those of plant scientists. We need to recover, reinforce, and expand an ethic of sharing rather than exclusion in germplasm exchange.</p>
  <p>Inspired by the free and open source software movement that has provided alternatives to proprietary software, OSSI was created to free the seed - to make sure that the genes in at least some seed can never be locked away from use by intellectual property rights. Through our Pledge, OSSI asks breeders and stewards of crop varieties to pledge to make their seeds available without restrictions on use, and to ask recipients of those seeds to make the same commitment.</p>
  <p>The OSSI Pledge: You have the freedom to use these OSSI-Pledged seeds in any way you choose. In return, you pledge not to restrict others’ use of these seeds or their derivatives by patents, licenses or other means, and to include this pledge with any transfer of these seeds or their derivatives.</p>


  <!-- /END THE FEATURETTES -->

  {% include footer.html %}

</div> <!-- /container -->

{% include footer_js.html %}

</body>
</html>
