{% extends "ossi/base.html" %}

{% block title %}OSSI - Index{% endblock %}

{% block content %}

  <p><strong>Many thanks to our OSSI plant breeders for pledging their varieties to remain freed!</strong></p>
  <p>If you are interested in designating a variety OSSI, see our &#8216;<a href="{% url 'breeders' %}">Breeders</a>&#8216; page.</p>

  <h1>Breeders</h1>

  {% if breeders %}
    {% for breeder in breeders %}
    <div class="row" style="margin:5px;">

      <img style="float:right;" src={{ breeder.image.url }} width=150px height=autoalt="{{ breeder.name }}" />
      <h4><strong>{% if breeder.default_url %}<a href="{{ breeder.default_url }}" target="_blank">{% endif %}{{ breeder.name }}{% if breeder.default_url %}</a>{% endif %}, {{ breeder.affiliation }}</strong></h4>
        <p>{{ breeder.bio }}</p>
        <br>
    </div>

    {% endfor %}
  {% else %}
    <p>An error has occurred. Partners are not available right now.</p>
  {% endif %}


{% endblock %}
