
{% extends "ossi/base.html" %}
{% load staticfiles %}
{% block title %}OSSI - Index{% endblock %}
{% block content %}

  <h3>We thank our seed company partners for their support. Visit our seed company partners to purchase OSSI Seed!</h3>

  <h1>Partners</h1>

  {% if partners %}
    <div class="masonry" style="margin:0px 50px;">
    {% for partner in partners %}

    <div class="grid-item" style="margin:5px;">
      <a href="{{ partner.default_url }}"><img src={{ partner.image.url }} alt="{{ partner.name }}" target="_blank" style="float:left;" /></a>
      <br>
    </div>

    {% endfor %}
    </div>
  {% else %}
    <p>An error has occurred. Partners are not available right now.<p>
  {% endif %}

  <p style="clear: both;">



{% endblock %}


{% block extrafoot %}

<!-- masonry -->
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>

<script type="text/javascript">
$('div.masonry').imagesLoaded( function() {
  $('div.masonry').masonry({
      columnWidth:1,
      itemSelector:'.grid-item',
  });
});
</script>

{% endblock %}
