
{% extends "ossi/base.html" %}
{% block title %}OSSI - Index{% endblock %}
{% block content %}

  <h3>We thank our seed company partners for their support. Visit our seed company partners to purchase OSSI Seed!</h3>

  <h1>Partners</h1>

  {% if partners %}
    {% for partner in partners %}

    <a href="{{ partner.default_url }}"><img src={{ partner.image.url }} alt="{{ partner.name }}" target="_blank" style="float:left;" /></a>
      <br>

    {% endfor %}
  {% else %}
    <p>An error has occurred. Partners are not available right now.<p>
  {% endif %}

  <p style="clear: both;">



{% endblock %}
