
{% extends "ossi/base.html" %}
{% block title %}OSSI - Index{% endblock %}
{% block content %}

  <h1>Seeds</h1>

  <form action="" method="get">
    {{ varieties.form.as_p }}
    <input type="submit" />
  </form>

  {% if varieties %}
    {% for variety in varieties %}

      <h2>{{ variety.name }}</h2>
      <img src={{ variety.image.url }} width=100px height=auto />
      <p>Crop: {{ variety.crop }}</p>
      <p>Latin Name: {{ variety.latin_name }}</p>
      <p>Breeder: {{ variety.breeder }}</p>
      <br>

    {% endfor %}
  {% else %}
    <p>An error has occurred. Varieties are not available right now.</p>
  {% endif %}



{% endblock %}

