
{% extends "ossi/base.html" %}
{% block title %}OSSI - Index{% endblock %}
{% block content %}

  <h1>Seeds</h1>

  <div class="row">
    <div class="col-sm-4">
      <form action="" method="get">
        {{ varieties.form.as_p }}
        <input type="submit" />
      </form>
    </div>
    <div class="col-sm-8">

      {% if varieties %}
      {% for variety in varieties %}

      <div class="row">
        <div class="col-xs-4">
          <img src={{ variety.image.url }} width=100px height=auto />
        </div>
        <div class="col-xs-8">
          <h3>{{ variety.name }}</h3>
          <p>{{ variety.crop }}<i> ({{ variety.latin_name }})</p></i>
          <p>Bred by: {{ variety.breeder }}</p>

          {% if variety.locations.all %}
            <p>Seed availability:</p>
            <ul>
            {% for location in variety.locations.all %}
              <li><a href="{{ location.url }}" target="_blank">{{ location.seller }}</a></li>  
            {% endfor %}
            </ul>

          {% else %}
            <i><p>No availability.</p></i>
          {% endif %}

          <!-- read more -->
          <div class = "show_more">
            {{ variety.description }}
          </div>


        </div>
      </div>
      <br>

      {% endfor %}
      {% else %}
      <h2 style="text-align: center" >No varieties selected.</h2>
      {% endif %}

    </div>
  </div>



{% endblock %}

